<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

<div class="dashboard">

    <div class="sidebar">

        <h2>Library</h2>

        <ul>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Books</a></li>
            <li><a href="#">Students</a></li>
            <li><a href="#">Settings</a></li>
        </ul>

    </div>

    <div class="dashboard-content">

        <h1>Admin Dashboard</h1>

        <br>

        <div class="stats">

            <div class="stat-card">
                <h2>1200+</h2>
                <p>Total Books</p>
            </div>

            <div class="stat-card">
                <h2>850+</h2>
                <p>Students</p>
            </div>

            <div class="stat-card">
                <h2>300+</h2>
                <p>Borrowed Books</p>
            </div>

        </div>

    </div>

</div>

</body>
</html>